In [1]:
from sqlalchemy import create_engine

In [14]:
engine = create_engine("sqlite:///chinook.sqlite")

In [15]:
type(engine)

sqlalchemy.engine.base.Engine

In [16]:
engine

Engine(sqlite:///chinook.sqlite)

In [17]:
con = engine.connect()

In [18]:
con

In [19]:
tables = engine.table_names()

In [20]:
tables

[]

In [21]:
engine.name

'sqlite'

In [7]:
con.execute('select * from Album')

OperationalError: (sqlite3.OperationalError) no such table: Album
[SQL: select * from Album]
(Background on this error at: http://sqlalche.me/e/e3q8)

### NOw i am ashowing you how to import data from database , very database is the same now i am showing you the sqlite database

# I am using the sqlchemy module to import the data

## sqlchemy : This module is just like connector / driver to program

## we are diving the steps for connecting the databse:
 
 * Create the Engine with help of command 
 from sqlchemy import create_engine

* engine = create_engine("sqlite:///chinook.sqlite")

## Now Connect the engine

* conn =  engine.connect()

now you can use execute command to execute all commands of sql

conn.execute('select * from tablename')

by using pd.dataframe command to convert the data from the relational databses to dataframe